/* CSS LAYOUT */
/* **************************************************************** */

/* HEADER */

header {
    background-color: aquamarine;
    display:flex;
    padding: 0 15px;
    align-items: center;
    justify-content: space-between;
}

/* MOBILE */
@media only screen and (min-width:768px){
    .menu_mobile {
        display: block;
    }

    .menu_desktop {
        display: none;
    }
 }

/* <!-- IPAD --> */
 @media only screen and (min-width:768px){
    header {
        flex-direction: row-reverse;
    }
 }

 @media only screen and (min-width:1000px){
    .menu_mobile {
        display: none;
    }

    .menu_desktop {
        display: block;
    }
 }


    

