/* CSS LAYOUT */
/* **************************************************************** */

/* HEADER */

header {
    background-color: aquamarine;
    display:flex;
    padding: 0 15px;
    align-items: center;
    justify-content: space-between;
}

/* <!-- IPAD --> */
 @media only screen and (min-witdh:768px){
    header {
        flex-direction: row-reverse;
    }
 }

    

